<!doctype html>
<html lan="en">
<head>
  <title>test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div id="main">
  		{{{ body }}}
	</div>

	<script src="/public/js/index.js"></script>
</body>
</html>
